{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <div>
        <h3>Purpose</h3>
        <p> The purpose of this applicaton is to allow a user to select a company and create a post based on that company. The posts are vislble to all users but a user must be logged into enter create a post. The user is able to edit thier username, email and create a profile picture. </p>
        <p> The user can create a post with a title and content by using the "New Post" button.  </p>
        <p> The user can also create a post by selecing an industry and selecting a company withing the industry. Within the Modal the user can create a post.</p>
        <h3>
        Features in this customer service blog:
        </h3>
        <ul>
        <li> register an account</li>
        <li> login and logout </li>
        <li> create and edit username, email and display profile picture </li>
        <li> create custom new post </li>
        <li> create a post based on industry and company selected </li>
        <li> company selected autofill in post modal </li>
        <li> view all posts in logged out view </li>
        <li> login to create a post </li>
        <li> update or delete only the post you've created by selecting on your post</li>
        <li> unable to edit the post of another user </li>
        <li> pagination of 6 posts per page </li>
        <li> 403, 404 and 500 errors </li>
        <li> Forgot password to the email </li>
        <li> Form validation on account register, login, post title, post content </li>
        <li> click username to see all posts by that user </li>
        </ul>
    </div>
{% endblock content %}
